.mat-form-field {
  /* font-size: 14px; */
  width: 100%;
  /* padding-left: 3%; */

}
.headtitle{
  color: darkgoldenrod;
  font-size:20px;
  text-align: auto;
}
table {
  width: 100%;
  overflow: auto;
  border: 1px solid whitesmoke;
  table-layout: fixed;
}

.search {  
  width: 30%;
}
.example-container {
  width: 100%;
  /* margin-left: 20%; */
  /* margin-right: 10%; */
}


.example-full-width {
  width: 100%;
}

td {
  padding-right: 15px;
}
