<form [formGroup]="serviceForm" (ngSubmit)="submitForm()">
    <div class="container" style="width: 100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" class="form-control" />
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="code" formControlName="code" class="form-control" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="container" style="width: 100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Gender" formControlName="gendergroupid" class="form-control">
              <mat-option *ngFor="let g of gendergroup" [value]="g.id">{{g.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Patient Categories" formControlName="servicePlacePatientCategories" multiple>
              <mat-option *ngFor="let pct of patientcategorytype" [value]="pct.id"> {{pct.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" fxFlex="20%">

        <div class="img-container">
          <mat-label>Logo</mat-label>
          <div class="select-image">
              <img alt="Avatar" [src]="logo" class="avatar" >
          </div>
          <button mat-mini-fab (click)="servicePlacelogo.click()" type="button">
            <mat-icon class="mat-icon material-icons" role="img">add_a_photo</mat-icon>
          </button>
          <input type="file" (change)="serviceplacelogoChange($event)" #servicePlacelogo hidden>
        </div>
      </div>
    </div>

    <div class="container" style="width: 100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Patient Status" formControlName="patientstatusid" class="form-control">
              <mat-option *ngFor="let ps of patientstatus" [value]="ps.id">{{ps.name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Service Place Type(s)" formControlName="servicePlaceServicePlaceTypes" multiple>
              <mat-option *ngFor="let spt of serviceplacetypes" [value]="spt.id">{{spt.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" fxFlex="5%">

          <div class="img-container">
            <mat-label>Head Signature</mat-label>
            <div class="select-image">
                <img alt="Avatar" [src]="imgSignature" class="avatar" >
            </div>
            <button mat-mini-fab (click)="servicePlaceimgSignature.click()" type="button">
              <mat-icon class="mat-icon material-icons" role="img">add_a_photo</mat-icon>
            </button>
            <input type="file" (change)=" serviceplaceheadsignatureChange($event)" #servicePlaceimgSignature hidden>
          </div>

        </div>
    </div>

    <div class="container" style="width: 100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Age Group Category" formControlName="agegroupcategoryid">
              <mat-option *ngFor="let agc of agegroupcategory" [value]="agc.id">{{agc.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Clinic(s)" formControlName="clinicserviceplaces" class="form-control" multiple>
              <mat-option *ngFor="let c of clinics" [value]="c.id">{{c.name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </div>


    <div class="container" style="width: 100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Age Group" formControlName="servicePlaceAgegroups" class="form-control" multiple>

              <mat-option *ngFor="let ag of AllAgegroups" [value]="ag.id">{{ag.name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Branch(es)" formControlName="servicePlaceBranches" class="form-control" multiple>
              <mat-option *ngFor="let fb of facilitybranch" [value]="fb.id">{{fb.name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="container" style="width: 100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Main Type" formControlName="maintypeid" class="form-control">
              <mat-option *ngFor="let mt of maintype" [value]="mt.id">{{mt.name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Head Name" formControlName="headname" class="form-control" />
          </mat-form-field>
        </div>
      </div>
      <mat-checkbox formControlName="isactive" [labelPosition]="'before'">Is Active</mat-checkbox>

    </div>

    <div class="container" style="width: 100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
      <div fxFlex="30%">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Service Type(s)" formControlName="ServicePlaceServiceTypes" class="form-control"
              multiple>
              <mat-option *ngFor="let st of servicetypes" [value]="st.id">{{st.name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <button mat-mini-fab color="primary" (click)="save()" class="md-fab">Save</button>
      </div>
    </div>

  </form>
