<form name="Form" [formGroup]="consultsForm" >

<div class="container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px" style="width:100%">
  <div fxFlex="50%" fxLayoutGap="50px">
    <div class="headtitle">
      <p>Complains/Clinical Notes</p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" style="width:100%">

      <button mat-raised-button color="accent"  (click)="onConfirmClick()">Save</button>
      <button mat-raised-button color="accent" (click)="onCancelClick()">Cancel</button>
  </div>

</div>
<div class="form-group">
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Complains"  formControlName="text"></textarea>
</mat-form-field>
</div>
<!-- <div class="submit-button"> -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="width:100%">

<button mat-raised-button (click)="onClearText()"  color="accent">Clear</button>
</div>
</form>
<!-- [disabled]="consultForm.invalid"  -->
