.headtitle{
  color: darkgoldenrod;
  font-size:20px;
  text-align: auto;
}
/*
table {
  width: 100%;
  table-layout: fixed;
} */
table {
  overflow: auto;
  max-height: 500px;
  width: 100%;
  table-layout: fixed;
  border: 1px solid whitesmoke;
}

.search {  
    width: 30%;
}
.custom.mat-table mat-header-row,
.custom.mat-table mat-row {
  padding: 0 24px 0 0;
}

.custom.mat-table mat-header-cell,
.custom.mat-table mat-cell {
  padding: 0 0 0 24px;
}


 td {
  overflow: hidden;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-column-description {
  flex: 0 0 26%;
  width: 200px;

}
.mat-column-type {
  flex: 0 0 26%;
  margin-left: 10%;
}
/* .mat-form-field {
  font-size: 14px;
  width: 60%;
  padding-left: 3%;
  margin-left: 5%;

} */
/* td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
} */
.example-container > * {
  width: 50%;
  /* margin-left: 10%; */
}
.example-margin {
  margin: 0 10px;
}

/* .mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 58% !important;
  width: 100% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-type {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 100% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-principal {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 17% !important;
  width: 100% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-category {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 50% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-outcome {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-remarks {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-select {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-view {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
} */



